body {
    text-align: center;
    background-image: url(images/back.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 600px;
	height: 900px;
	width: 100%;
}

*{
	padding: 0;
	margin: 0;
}

header h2 {
	text-align: center;
	font-family: amaranth;
	font-size: 50px;
}

#main {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(255,255,255,0.62);
    text-align: center;
  	height: 900px;
    padding-left: 5%;
    padding-right: 5%;
}

/**Index Page**/
	
#main #img{
	padding-top: 300px;
	
}

/**end of index page**/
.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    
   margin-left: 35%;
	text-align: center;
}

#list {
    text-align: left;
    margin-left: 35%;
    font-family: allerta;
    font-style: normal;
    font-weight: 400;
	font-size: 20px;
}

#main1 header h2{
	padding-top: 150px;
	text-align: center;
}

.row {
    content: "";
    display: table;
    clear: both;
    margin-top: 184px;
	text-align: center;
	padding-top: 150px;
}

.col {
    margin-right: 20px;
    margin-left: 38px;
    margin-bottom: 50px;
    float: left;
    width: 450px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    height: 500px;
    background-color: rgba(203,203,203,0.64);
    border-radius: 50px;
    margin-top: -256px;
	text-align: center;
}


#main1 p{
	margin-top: 20px;
	font-size: 21px;
	padding: 10px;
}
#main1 h3{
	margin-top: 50px;
	font-size: 30px;
}

 



#main1 {
     margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(255,255,255,0.62);
    text-align: center;
    height: 900px;
    padding-left: 5%;
    padding-right: 5%;
}


/**Robot Page**/

#main2 p {
	text-align: center;
	font-size: 20px;
	padding: 30px;
}

#main2 h3{
	
	padding-top: 40px;
	font-size: 50px;
}
#main2 {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(255,255,255,0.62);  
    text-align: center;
    height: 1300px;
    padding-left: 5%;
    padding-right: 5%;
}

.col1 {
    background-color: rgba(203,203,203,0.64);
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 50px;
    float: left;
    width: 600px;
    height: 1000px;
    border-radius: 50px;
    margin-top: -85px;
}

.row1 {
	  padding-top: 150px;
	 content: "";
  	 display: table;
  	 clear: both;
}

#main2 header h2{
	padding-top: 150px;
}


.im1 img {
    float: left;
    border-radius: 50%;
	margin-left: 100px;
}
.im2 img {
    border-radius: 50%;
    float: right;
	margin-top: -475px;
	margin-right: 175px;
}


/****/





.events {
    margin-top: 229px;
}


/**About Page**/
#main .About {
    border-radius: 50px;
    float: right;
    width: 800px;
    margin-right: 150px;
    background-color: rgba(228,228,228,0.86);
	margin-top: 300px;
}


#main .About p{
	
	font-size: 30px;
}

#main #logo img {
    float: left;
    border-radius: 50%;
    margin-left: 140px;
}

#main #logo{
	padding-top: 300px;
}
/**end of the page**/

#main .p1{
    margin-left: 150px;
    float: left;
    margin-top: 138px;
}

.WS {
    padding-top: 200px;
    padding-left: 5%;
    padding-right: 5%;

}

.WS h3{
	font-size: 40px;
}
.ev {
    margin-top: 150px;
    padding-left: 5%;
    padding-right: 5%;

}

.ev h2{
	font-size: 40px;
}



#main .s1 img {
    border-radius: 50%;
    float: left;
    margin-left: 50px;
}

#main .s2 img {
    border-radius: 50%;
    float: right;
    margin-right: 50px;
}




h3 {
	font-family:amaranth;

}

h2 {
	font-family:amaranth;

}

#img img {
    border-radius: 50%;
    margin-top: -125px;
}


/**  Contact Page **/
.img4 img {
    border-radius: 50%;
    float: left;
    margin-top: -77px;
    margin-left: 350px;
}

.img4 {
	padding-top: 130px;
}

.contatc1 {
    width: 500px;
    margin-right: 300px;
    border-radius: 50px;
    background-color: rgba(249,249,249,0.42);
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    height: 300px;
    margin-top: -72px;
}

#main header h2{

	font-size: 50px;
}

.cu {
	padding-top: 100px;
}

#main .contact {
    width: 100%;
}

/** **/

.nawlogo img {
    border-radius: 50%;
    margin-right: -1250px;
}
p {
    font-family: asap;
	font-size: 20px;
    font-weight: 400;
}

footer {
    text-align: center;
    color: rgba(0,0,0,1.00);
    background-color: rgba(26,120,158,1.00);
    height: 40px;
	position: fixed;
	font-family: andika;
	font-size: 25px;
	position: fixed;
	clear: both;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;	
}
.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    font-size: 25px;
	
}
.fblogo {
    float: left;
	margin-left: 500px;
	margin-right: -500px;
}
#ty {
    margin-top: -252px;
}




@media (max-width: 650px){
body {
    text-align: center;
    background-image: url(images/back.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 1000px;
    height: 1000px;
    width: 100%;
}
#main {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(255,255,255,0.62);
    text-align: center;
    height: 900px;
    padding-left: 5%;
    padding-right: 5%;
}
/**Index Page**/
	
#main #img {
    padding-top: 200px;	
}
#list {
    text-align: left;
    margin-left: 20%;
    font-family: allerta;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
/** **/

.nawlogo img {
    border-radius: 50%;
    margin-right: -100px;
}


	

}

@media (max-width:1280px){
/** **/

.nawlogo img {
    border-radius: 50%;
    margin-right: -300px;
}
#list {
    text-align: left;
    margin-left: 20%;
    font-family: allerta;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
/**Index Page**/
	
#main #img {
    padding-top: 200px;
}
	* {
		margin: 0;
		padding: 0;
	}
#main {
	padding: 0;
	margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(255,255,255,0.62);
    text-align: center;
    height: 600px;
    padding-left: 5%;
    padding-right: 5%;
}
body {
    text-align: center;
    background-image: url(images/back.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 700px;
    height: 600px;
    width: 100%;
}
/** **/

.nawlogo img {
    border-radius: 50%;
    margin-right: -550px;
}
#main1 {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(255,255,255,0.62);
    text-align: center;
    height: 2000px;
    padding-left: 5%;
    padding-right: 5%;
}
#main2 {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(255,255,255,0.62);
    text-align: center;
    height: 2000px;
    padding-left: 5%;
    padding-right: 5%;
}
/**end of index page**/
.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    margin-left: 25%;
    text-align: center;
}
.fblogo {
    float: left;
    margin-left: 400px;
    margin-right: -500px;
}


}
